.example-viewport {
  height: 10em;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.list-group-item {
  list-style-type: none;
  padding: 20px 0;
  border: 1px solid #ededed;
}

table {
  width: 100%;
}

th {
  text-align: left;
}
