<div id="main">
  <article>
    <p>ARTICLE BEFORE</p>

    <!-- GET -->
    <button mat-raised-button (click)="onGetAllPosts()">Get - All posts</button>

    <!-- GET -->
    <button mat-raised-button (click)="onGetSpecificComments()">
      Get - specific comments
    </button>

    <!-- GET -->
    <button mat-raised-button (click)="onGetUsers()">Get - users</button>

    <!-- GET -->
    <button mat-raised-button (click)="onGetUsersPosts()">
      Get - users posts
    </button>

    <cdk-virtual-scroll-viewport itemSize="5" class="virtual-scroll">
      <div class="component-wrapper">
        <dl class="component-dl">
          <ng-container
            *cdkVirtualFor="
              let get of getAllPosts | async;
              templateCacheSize: 5;
              let i = index;
              trackBy: indexTrackFn"
          >
            <div class="component-inner-wrapper">
              <dt class="component-dt component-border">{{get.userId }}</dt>
              <dd class="component-dt">{{get.id }}</dd>
              <dd class="component-dt-dd">{{get.title}}</dd>
              <dd class="component-dt">{{get.body}}</dd>
              <dd class="component-dt">{{get.name}}</dd>
            </div>
          </ng-container>
        </dl>
      </div>
    </cdk-virtual-scroll-viewport>

    <mat-card>
      <!-- POST -->
      <button mat-stroked-button class="mat-warn" (click)="onPostPosts()">
        Post - posts
      </button>
      {{ postPosts }}

      <br /><br />

      <!-- PUT -->
      <button mat-stroked-button class="mat-warn" (click)="onPutPosts()">
        Put - posts
      </button>
      {{ putPosts }}

      <br /><br />

      <!-- PATCH -->
      <button mat-stroked-button class="mat-warn" (click)="onPatchPosts()">
        Patch - posts
      </button>
      {{ patchPosts }}

      <br /><br />

      <!-- DELETE -->
      <button mat-stroked-button class="mat-warn" (click)="onDeletePosts()">
        Delete - posts
      </button>
      {{ deletePosts }}
    </mat-card>

    <p>
      ARTICLE AFTER
    </p>
  </article>

  <nav>
    NAV
  </nav>

  <aside>
    ASIDE
  </aside>
</div>
