<div id="main">
  <article>
    <p>article</p>

    <!-- GET -->
    <button mat-stroked-button (click)="onGetPosts()">Get - All posts</button>

    <!-- GET -->
    <button mat-stroked-button (click)="onGetSpecificComments()">
      Get - specific comments
    </button>

    <!-- GET -->
    <button mat-stroked-button (click)="onGetUsers()">Get - users</button>

    <!-- GET -->
    <button mat-stroked-button (click)="onGetUsersPosts()">
      Get - users posts
    </button>

    <cdk-virtual-scroll-viewport itemSize="5" class="virtual-scroll">
      <div *cdkVirtualFor="let get of getPosts | async; let i = index; trackBy: indexTrackFn" class="list-group-item">
        <div class="state">{{get.userId}}</div>
        <div class="state">{{get.id}}</div>
        <div class="state">{{get.title}}</div>
        <div class="capital">{{get.body}}</div>
      </div>
    </cdk-virtual-scroll-viewport>

    <mat-card>
      <!-- POST -->
      <button mat-stroked-button class="mat-warn" (click)="onPostPosts()">
        Post - posts
      </button>
      {{ postPosts }}

      <br /><br />

      <!-- PUT -->
      <button mat-stroked-button class="mat-warn" (click)="onPutPosts()">
        Put - posts
      </button>
      {{ putPosts }}

      <br /><br />

      <!-- PATCH -->
      <button mat-stroked-button class="mat-warn" (click)="onPatchPosts()">
        Patch - posts
      </button>
      {{ patchPosts }}

      <br /><br />

      <!-- DELETE -->
      <button mat-stroked-button class="mat-warn" (click)="onDeletePosts()">
        Delete - posts
      </button>
      {{ deletePosts }}
    </mat-card>

    <p>Barleywine lagering dunkle. sparge. wit berliner weisse brew brewing heat exchanger? all-malt dunkle hand pump lauter tun shelf life. ibu, all-malt, hops anaerobic, specific gravity? cask conditioning, barley sparge sparge dry hopping hop back adjunct anaerobic; biere de garde. wheat beer glass black malt oxidized shelf life additive attenuation bacterial bung microbrewery.</p>
  </article>

  <nav>nav</nav>
  <aside>aside</aside>
</div>







