.virtual-scroll {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background: whitesmoke;
}

.example-item {
  height: 50px;
}

.list-group-item {
  list-style-type: none;
  padding: 20px 0;
  border: 1px solid #ededed;
}

table {
  width: 100%;
}

th {
  text-align: left;
}


* {
  box-sizing: border-box;
}
body {
  margin: 1em;
  font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}
h1 {
  font-weight: normal;
  text-align: center;
}
p {
  margin: 0 0 1em 0;
}
figure {
  margin: 1em 0;
}
figcaption {
  font-style: italic;
  font-size: .5em;
}
figure img {
  max-width: 100%;
}
#main {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}

#main > article {
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  background: #0070dd66;
  -webkit-flex: 3 1 60%;
  flex: 3 1 60%;
  -webkit-order: 2;
  order: 2;
}

#main > nav {
  margin: 4px;
  padding: 5px;
  border: 1px solid #487bb0;
  border-radius: 7pt;
  background: #007aff;
  -webkit-flex: 1 6 20%;
  flex: 1 6 20%;
  -webkit-order: 1;
  order: 1;
}

#main > aside {
  margin: 4px;
  padding: 5px;
  border: 1px solid #487bb0;
  border-radius: 7pt;
  background: #007aff;
  -webkit-flex: 1 6 20%;
  flex: 1 6 20%;
  -webkit-order: 3;
  order: 3;
}

header, footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 80px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

  #main, #page {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
    order: 0;
  }

  #main > nav, #main > aside, header, footer {
    min-height: 50px;

  }
}
